<div>
    <h1>Turn Speech into Text</h1>
    <label for="convert_text"></label><input type="text" id="convert_text"/>
    <button id="click_to_record">Click then Speak</button>

    <script src="main.js"></script>
</div>